h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#brushes {
    background-color: mediumspringgreen;
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#frames {
    background-color: lightcoral;
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint {
    background-color: skyblue;
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h4 {
    font-family: helvetica;
}

p {
    font-family: helvetica;
}

strong {
    font-family: helvetica;
    font-weight: bold;
    color:blue;
}